.container {
    color: #555; }
.container a {
    color: #555; }
.container a:hover {
    transition: all .5s;
    color: #87DBF9;
    text-decoration: none; }

.item, .filter-block, .block-book {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E3E4E8; }

.col-md-4 {
    padding-right: 0px;
    padding-left: 0px; }

.item {
    margin-bottom: 10px;
    padding: 10px 10%;
    min-height: 335px;
    max-height: 335px;
    margin-right: 5px;
    margin-left: 5px; }
.item:hover {
    border: 1px solid #C6C6C6; }
.item:hover .item-price p {
    padding-left: 3%; }
.item:hover .buy {
    opacity: 1; }
.item img {
    border-radius: 4px;
    width: 225px;
    height: 225px; }
.item h4 {
    text-align: center;
    margin-top: 5px; }

.filter-block ul {
    margin-bottom: 0px; }

.filter {
    list-style: none;
    padding: 10px 20px; }
.filter p {
    margin-bottom: -10px;
    font-size: 20px;
    cursor: pointer; }
.filter p i {
    font-size: 15px; }

.filters {
    margin-top: 10px;
    margin-left: -12px; }

.checkbox {
    padding: 4px 14px;
    margin-bottom: 0px; }

.tags {
    text-align: center;
    margin-top: -10px; }

.description {
    padding: 0 15px;
    margin-top: -10px;
    display: none; }

.search {
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    transition: all .1s; }
.search:hover {
    background-color: #f5f5f5; }
.search:active {
    border: 1px solid #999;
    background-color: #e1e1e1; }

.buy {
    background-color: #fff;
    float: left;
    opacity: 0;
    text-align: center;
    padding: 4px 20px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
    margin-left: 55%;
    margin-top: -32px;
    transition: all .1s ease .1s; }
.buy:hover {
    background-color: #f5f5f5; }
.buy:active {
    background-color: #e1e1e1; }

.item-price {
    display: inline-block; }
.item-price a:hover {
    color: #555; }
.item-price p {
    float: left;
    font-size: 19px;
    margin: 0 0 0 0;
    transition: all .4s;
    padding-left: 35%; }

.block-book {
    padding: 15px 15px; }

.block-img img {
    width: 100%; }

.info {
    width: 100%; }

.info-block {
    border-left: 1px solid #E3E4E8;
    margin-top: -20px;
    padding-left: 20px;
    margin-left: -10px; }

.comments-block {
    float: left;
    padding-left: 10px;
    max-height: 290px; }
.comments-block p {
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify; }

.active {
    width: 70% !important;
    max-height: 5000px !important;
    background-color: #e9f6ff;
    overflow: inherit !important; }

.block-price-buy {
    display: inline-block; }
.block-price-buy p {
    float: left; }

.price {
    font-size: 19px;
    margin-top: 5px;
    margin-right: 50px; }

.full-description {
    float: left;
    padding-left: 10px;
    max-height: 290px; }
.full-description p {
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify; }

.filter-info {
    margin-bottom: 3px;
    display: inline-block;
    width: 100%;
    padding: 3px 0px 3px; }
.filter-info a p {
    float: left;
    margin-left: 5px;
    margin-bottom: 0;
    padding: 3px 17px;
    background-color: #fff;
    border: 1px solid #e3e4e8;
    border-radius: 20px; }
.filter-info a p:hover {
    border: 1px solid #C6C6C6; }

.filter-info-padding {
    padding: 0 5px !important; }

.accordion {
    width: 100%;
    background-color: #c6d6e0;
    display: inline-block;
    border: 1px solid #E3E4E8;
    border-radius: 4px; }

.section {
    width: 30%;
    -moz-transition: all 0.5s ease-in-out;
    overflow: hidden; }

.checkbox-input {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px; }
.checkbox-input + label {
    cursor: pointer; }

.checkbox-input:not(checked) {
    position: absolute;
    opacity: 0; }

.checkbox-input:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px; }

.checkbox-input:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 23px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }

.checkbox-input:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 19px;
    height: 19px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all .2s; }

.checkbox-input:checked + label:before {
    background: #4aaad2; }

.checkbox-input:checked + label:after {
    left: 24px; }

.quantity {
    position: relative; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

input[type=number] {
    -moz-appearance: textfield; }

.quantity input {
    width: 60px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    border: 1px solid #eee; }

.quantity input:focus {
    outline: 0; }

.quantity-nav {
    float: left;
    position: relative;
    height: 42px; }

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee; }

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%; }
